@page "/counter"
@using myproject1.Data
@using myproject1.Respositories
@inject ExpenseServices expenseService;


<div id="page-expenses" class="page">
    <div class="page-header">
        <h2>Expenses</h2>
        <p>Manage and track your expenditures</p>
    </div>
</div>
@* <div></div> class for responsive view *@
@* <table class="table table-striped table-responsive-sm"></table>
<thead class="table-secondary">
    <tr>
        <td>ID</td>
        <td>Type</td>
        <td>Date</td>
        <td>Action</td>
    </tr>
</thead> *@
        <a href="/add-expense" class="btn btn-primary mt-4">Add Expense</a>
@if (expenseList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (expenseList.Count() > 0)
    {
        <div class="row">
            <div class="col align-content-md-around col-md-12 card">

            <table class="table table-striped border table-responsive-sm">
                <thead class="table-secondary">
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th><!..buttons column heading..></!..buttons></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Expense expense in expenseList)
                    {
                        <tr>
                            <td>@expense.ExpenseId</td>
                            <td>@expense.date.ToShortDateString</td>
                            <td>@expense.category</td>
                            <td>@expense.description</td>
                            <td>@expense.amount</td>
                            <td>
                                <button onclick="" class="btn btn-success btn-sm mb-1">Edit</button>
                                <button onclick="" class="btn btn-btn-dangern-sm mb-1">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
            </div>
        </div>
    }
    else
    {
        <p>no expenses Available</p>
    }
}

@code {
    //list to store variables
    public Expense expense { get; set; }
    public IEnumerable<Expense> expenseList { get; set; }

    //method to get all expenses
    public async Task loadExpensesAsync()
    {
        expenseList = await expenseService.GetAllExpensesAsync();
    }

    //overriding task async
    protected override async Task OnInitializedAsync()
    {
        await loadExpensesAsync();
        expenseList = await expenseService.GetAllExpensesAsync();
        
    }

}

